div {
    background-color: #0000FF;
    width: 100px;
    height: 100px;
}

div:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/*Para que ste comando funcione as divs devem estar dentro de um elemento pai.*/
div:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}