@media (max-width:1024px) {

    .information, aside{
        margin: 10px;
        width: auto;  
    }

    .product {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    .information {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
    }

    .img-product {
        width: 100%;
       }

    h2 {
        font-size: 30px;
    }
}

@media (max-width:768px) {

    .menu ul.active {
        display: flex;
    }
    

    header{
        position: relative;
    }

    .logo{
        width: 100%;
        height: auto;
        margin-left: 40px;
    }

    .menu {
        display: flex;
        justify-content:flex-start;
        align-items:center;
        padding: 0;
        position: absolute;
        left: 0;
        width: 100%;
       }
    
   .menu ul{
    display: none;
    flex-direction: column;
    position:relative;
    left: 0;
    width: 100%;
    background-color:#095385;
    border: 2px solid #F24607;
    border-radius: 10px;
    top: 60px;
    
   }

   .menu ul li a {
    color: #F2F2F2;
   }

   .menu li {
    display: flex;
    justify-content: center;
   }

   .menuMobile {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
   }

   .mm_line {
    background-color: #095385;
    height: 5px;
    margin: 5px;

   }
   .mm_line2 {
    background-color: #F24607;
    height: 5px;
    margin: 5px;

   }
}

@media (max-width:480px) {
    .information {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h2 {
        font-size: 25px;
    }
}

@media (max-width:320px) {
    .logo img {
      display: none;
    }
    
    h1, h2 {
      font-size: 20px;
    }
   p{
      font-size: 20pX;
   }

   .carrinho img {
    width: 30px;
   }

   .menuMobile {
    width: 30px;
    height: 30px;
   }

   .mm_line, .mm_line2 {
    height: 3px;
   }

   .menu ul {
    top: 80px;
   }

   }