body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.menu,
.pesqusa-login,
.pesquisa,
.itens {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.menu {
    padding: 10px;
}