body {
    text-align: center;
}

div {
    margin: 10px;
}

.ex1 span::before, .ex1 span::after{
    background-color: #ff0000;
    border: 2px solid #000;
}

/*posiciona item a esquerda*/
.ex1 span::before{
    content: "=>";
}

/*posiciona item a direita*/
.ex1 span::after{
    content: "=>";
}

.ex2 {
    background-color: #7fff00;
    height: 50px;
    align-content: center;
}

/*Cria uma quadro a esquerda*/
.ex2 span::before{
    content:"";
    display:inline-block;
    height: 20px;
    width: 20px;
    background-color: #ff0000;
}