*{
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-size: 17px;
}

h1{
   font-weight: bolder;
   font-size: 50px;
   text-align: center; 
}

p{
    color: #0000ff;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: left;
}

a{
  text-decoration: none;  
}

a:hover{
    text-decoration: underline;
}

/*
color: cor do texto
font-size: tamanho do texto
font-weight:bold:  texto em negrito
font-family: altera a fonte
font-family:Helvetica;
font-family:Helvetica, Arial, Comic. Sans MS; = CASO NÃO TENHA INSTALADO 
text-align: alinhamento de texto
text-decoration: decoração do texto
a:hover{text-decoration:underline;} = adiciona decoração ao passar o mouse 
atributo a= linkar texto
*/
