*{
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-size: 17px;
}

h1{
   font-weight: bolder;
   font-size: 30px;
}

table{
 width: 600px;
}

td{
    border: solid 1px black;
}

th{
    border: solid 1px black; 
}
table thead{
    background-color: darkgray;
}

tbody tr:nth-child(even) {
    background-color:lightgray;
}

tbody tr:hover{
    background-color: thistle;
}