html{
    font-size:10px;
}

h1{
    font-size: 3rem;
}

.box{
    font-size: 2rem;
}

box-interno{
    width: 20rem;
    height: 20rem;
    border: black

}

/*
em - baseada no no item superior
rem - usado para trabalhar com sites inteiros = baseado no primeiro elemento
*/
