* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

/*
AREA DO HEADER
*/
header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style:none;  
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
} 

.booton {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

/*
AREA DA MAIN/SECTION - BANNER
*/
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;  
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
        width: 100vw;
        height: 100%;
        display:inline-block;
        background-color: rgba(0, 0, 0, 0.8);  
}

.slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner H2 {
    text-transform: uppercase;
    margin-top: 20PX;
}



.banner .sliders-pointer {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #b28756;
}

/*
AREA DA MAIN/SECTION - DEFAUT
*/
.defaut {
    padding-top: 50px;
    padding-bottom: 50px;
}

.defaut .section-title,
.defaut .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
 }

 .defaut .section-title {
    font-size: 20px;
 }

 .defaut .section-desc {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
 }

.defaut .section-body {
    max-width: 1140px;
    margin: auto;
}

.defaut.light .section-title,
.defaut.light .section-body {
    color: #000;
}

.defaut.dark {
    background-color: #000;
}

.defaut.dark .section-title,
.defaut.dark .section-body {
    color: #fff;
}


/*
CSS DE AREAS ESPECIFICAS
*/
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left P{
    font-size: 14pX;
    line-height: 25pX;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
   
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333
}



/*
 Funções dos Códigos CSS:

1. line-height: 25px;
   - Define a altura da linha, ou seja, a distância vertical entre as linhas de texto. Neste caso, é definida como 25 pixels¹.

2. overflow-x: hidden;
   - Controla o comportamento do conteúdo que transborda horizontalmente. Com "hidden", o conteúdo que ultrapassa a largura do elemento é ocultado².

3. box-sizing: border-box;
   - Inclui o padding e a borda dentro da largura e altura total do elemento, facilitando o controle do layout³.

4. text-transform: uppercase;
   - Transforma todo o texto do elemento em letras maiúsculas⁴.

5. background-position: bottom;
   - Define a posição da imagem de fundo na parte inferior do elemento.

6. overflow: hidden;
   - Oculta qualquer conteúdo que ultrapasse as bordas do elemento, tanto horizontal quanto verticalmente.

7. background-size: cover;
   - Redimensiona a imagem de fundo para cobrir todo o elemento, mantendo a proporção da imagem.

8. display: inline-block;
   - Define o elemento como um bloco em linha, permitindo definir largura e altura, mas mantendo-o na mesma linha que outros elementos em linha.

9. display: block;
   - Define o elemento como um bloco, ocupando toda a largura disponível e iniciando em uma nova linha.
*/