.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 10px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:200px;
    gap: 10px;
}

.item{
    background-color: #0000ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

/*
 grid-template-rows: Defini a lagura  das linhas .

 grid-auto-rows: 200px;Define altura fixa de 200px para as linhas
 */