/*
.link: hover = alterar a cor
.link: sisited = altera a cor ao acessar a página

scroll-behavior: smooth;
Com essa propriedade, quando os usuários clicam em um link âncora que leva a uma seção diferente da página, a rolagem até essa seção ocorrerá de maneira suave e gradual1. É uma forma elegante de melhorar a experiência do usuário em seu site
*/

*{
    box-sizing: border-box;
    margin:0;
}

body{
    margin: 0;
}

h2{
    margin: 10px;
}

img{
    padding: 100px;
    border: 3px solid;
    margin: 50px;
}

.link{
    color:green;
    font-size: 20px;
    margin: 10px;
}

.link:hover{
    color: blue;
}

.link:visited{
    color: blueviolet;

}