body {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-resp {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 40%;
    padding: 10px;
    margin: 10PX;
}

.menu-resp ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu-resp ul li {
    list-style: none;
    margin: 0;
    margin-left: 20px;
}

.menu-resp ul li a {
    text-decoration: none;
    padding: 0;
}




section {
    background-color: blueviolet;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

section {
    background-color: blueviolet;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content:center;
}

.goxjub, .Gdd5U {
    width: 30px;
} 

section .conteudo {
    align-items: center;
    justify-content: center;
}

.pesquisa {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.itens {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Pesquisar, button {
    height: 40px;
    margin: 0;
    border: none;
    background-color: #fff
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-pesquisa {
    height: 1000px;
    background-color: blue;

}