img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}

/*
width: largura
height: altura

object-fit: fill; imagem redimensionada independente da proporção de forma a caber por inteira na área disponível.

object-fit: contain; diminui a imagem sem distorcer de forma que mostre a imagem inteira no tamanho proporcional .

object-fit: cover; mantem a proporção da imagem aumentando o tamanho e cortando para até que fique no tamanho proporcional.

object-fit: none; Corta a imagem sem redimensionar.

object-fit: scale-down; similar ao container
*/