body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navegation {
    margin: 0 20px 0 20px;
    padding: 0;
}

.navegation,
.icon-menu,
.itens,
.conteudo,
.button-pesquisa,
form,
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo {
    flex-direction: column;
}

.icon-menu, .button, ul li{
    list-style: none;
    margin: 10px;
    cursor: pointer;
}

ul li:hover {
    text-decoration: underline;
    color: #3c4043;
    text-decoration-thickness: 7%;
}

.navegation a {
    text-decoration: none;
    color: #3c4043;
}

.button {
    background-color: #0B57D0;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 100px;
}

.button a{
    color: #ffffff;
    font-size: 14px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 170px;
    width: 100%;
}

.google img {
    margin-bottom: 20px;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #DFE1E5;
    width: 470px;
    border-radius: 50px;
}

.pesquisa:hover{
    box-shadow:  0px 1px 10px #DFE1E5;
}

.pesquisa  form {
    margin: 0;
    width: 100%
}

.Pesquisar, .pesquisa button {
    height: 10px;
    margin: 0;
    border: none;
    background-color: #fff;
    outline: 0;
    padding: 0;
}

.pesquisa button {
    border-radius: 100px;
    cursor: pointer;
    margin: 5px;
    height: auto;
}
.Pesquisar {
    width:100%;
    height: auto;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.goxjub, .Gdd5U, .tecla-virt {
    width: 24px;
    padding: 8px;
}

.button-pesquisa button{
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #F8F9FA;
    height: 36px;
    width: 150px;
    
}

.roda-pe{
    background-color: #F2F2F2;
}

.roda-pe p, a{
    text-decoration: none;
    color: #3c4043;
}

.pais {
    border-bottom: 1px solid #DFE1E5;
    display: flex;
    align-items: center;
    padding: 15px 30px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

section {
    flex: 1;
}
aside .roda-pe {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
}

.menu-rodape {
    padding: 5px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size: 14px;
    text-align:center;
}
.menu-rodape ul {
    padding: 0;
    margin: 0;
}

@media (max-width:800px) {
    .menu-rodape {
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items: center;
    }
}


    